body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  gap: 15px;
}

.container {
  display: flex;

  height: 600px;
  width: 600px;
}

.gridColumn {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.gridSquare {
  flex: 1 1 auto;

  border: 1px solid grey;
}

h1 {
    margin: 0;
}

.resizeButton {
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
