body {
    display: flex;
    justify-content: center;
    padding: 0;
    border: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  width: 650px;
  align-items: center;


}

.gridSquare {
    box-sizing: border-box;
    width: 40px;
    height: 40px;

}
