body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  gap: 5px;
}

.container {
  display: flex;

  height: 600px;
  width: 600px;
}

.gridColumn {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.gridSquare {
  flex: 1 1 auto;

  border: 1px solid grey;
}
